body {
  font-family: roboto, sans-serif;
  color: #707070;
}
h1 {
  font-size: 60px;
  margin: 20px 0;
}
h2, h4 {
  font-size: 30px;
  margin-bottom: 5px;
  color: #000;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1140px;
  padding: 20px 0;
  margin: auto;
}
.half-width {
  flex: 1;
  max-width: 50%;
  margin-bottom: 10px;
}
.service-item {
  flex: 1;
  max-width: 25%;
  margin: 0px 15px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
}
